{% extends 'organizations_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login | {{ block.super }}{% endblock %}

{% block content %}
    <div style="margin-top: 20px;">
        <div class="wrapper">
            <div class="container">
                <div class="row vh-100">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="card card-login mx-auto mt-5">
                            <div class="card-header">Login</div>
                            <div class="card-body">
                                {% crispy form %}

                                <hr>
                                <div class="pt-1 pb-3">
                                    New here? <a href="{% url 'signup' %}">Sign Up</a> <br>
                                    Forgot password? <a href="{% url 'password_reset' %}">Reset Password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}