{% extends "organizations_base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
    <div style="margin-top: 20px;">
        <div class="wrapper">
            <div class="container">
                <div class="row vh-100">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="card card-login mx-auto mt-5">
                            <div class="card-header">Password reset confirmation</div>
                            <div class="card-body">
                                {% if validlink %}

                                    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                                    <br>
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type="submit" class="btn btn-primary btn-block">Change my password
                                        </button>
                                    </form>

                                {% else %}

                                    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

                                    <a href="{% url 'password_reset' %}" class="btn btn-success">Password Reset Again</a>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
