{% extends "organizations_base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
    <div style="margin-top: 20px;">
        <div class="wrapper">
            <div class="container">
                <div class="row vh-100">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="card card-login mx-auto mt-5">
                            <div class="card-header">Reset my password</div>
                            <div class="card-body">
                                <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
                                <br>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-primary btn-block">Reset my password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
