{% extends "organizations_base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
    <div style="margin-top: 20px;">
        <div class="wrapper">
            <div class="container">
                <div class="row vh-100">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="card card-login mx-auto mt-5">
                            <div class="card-body">
                                <p>{% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

                                <p>{% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

                                <a href="{% url 'home' %}" class="btn btn-success">Go to home</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
