{% extends "organizations_base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
    <div style="margin-top: 20px;">
        <div class="wrapper">
            <div class="container">
                <div class="row vh-100">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="card card-login mx-auto mt-5">
                            <div class="card-body">
                                <p>{% trans 'Your password was changed.' %}</p>

                                <a href="{% url 'login' %}" class="btn btn-success">Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
