<!doctype html>
{% load static i18n %}
<html lang="en">
{% load crispy_forms_tags %}
{% include 'head.html' %}

<body {% block body_class %}class=""{% endblock body_class %} {% block body_id %}id="page-top"{% endblock %}>
{% block container %}
    <div id="wrapper">

        {% include 'sidenav.html' %}

        <div id="content-wrapper" class="d-flex flex-column">

            {% block header %}
                {% include 'top_navbar.html' %}

                {% block breadcrumb %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        {% block breadcrumb_li %}
                                            <li class="breadcrumb-item active" aria-current="page">Organizations</li>
                                        {% endblock breadcrumb_li %}
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            {% endblock header %}

            {% block content %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow mb-4">
                                <div class="card card-login mx-auto mt-5">
                                    <div class="card-header">Change my password</div>
                                    <div class="card-body">
                                        <div>
                                            <form method="post">
                                                {% csrf_token %}

                                                {% if form.errors %}
                                                    <p class="errornote">
                                                        {% if form.errors.items|length == 1 %}
                                                            {% trans "Please correct the error below." %}{% else %}
                                                            {% trans "Please correct the errors below." %}{% endif %}
                                                    </p>
                                                {% endif %}


                                                <p>{% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
                                                {{ form|crispy }}
                                                <button type="submit" class="btn btn-primary btn-block">Change password
                                                </button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}

            {% block footer %}
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; OrgHub Inc 2019</span>
                        </div>
                    </div>
                </footer>

            {% endblock footer %}
        </div>

    </div>
{% endblock container %}
{% block js %}
    <script src="{% static 'js1/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="{% static 'js1/bootstrap.min.js' %}"></script>
    <script src="{% static 'js1/sb-admin-2.js' %}"></script>
{% endblock js %}
{% block extra_js %}{% endblock extra_js %}
</body>
</html>

