/* table of content - start
==================================================================================================== */
/* ==================================================
Project Name 	:  RGHub
File 			:  CSS Base
Version 		:  1.0.0
Last change 	:  03 September 2019
Author 			:  ----------
Developer:		:  Rakibul Islam Dewan
================================================== */
/* table of content - end
==================================================================================================== */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

/* global area - start
==================================================================================================== */
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 1.65;
    font-style: normal;
    color: #777777;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

::-moz-selection {
    color: #ffffff;
    background-color: #0c0c0c;
}

::selection {
    color: #ffffff;
    background-color: #0c0c0c;
}

.container {
    max-width: 1200px;
}

a,
button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

a:hover,
button:hover {
    text-decoration: none;
}

button {
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
}

button:focus {
    outline: none;
}

img {
    height: auto;
    max-width: 100%;
}

.logo {
    height: 80px !important;
}

.user-directory-img {
    /*width: 120px;*/
    height: 120px;
    border-radius: 10px;
    border: 1px solid #eaecf4;
}

.image-container {
    overflow: hidden;
    position: relative;
}

.background-property {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #0c0c0c;
    font-family: "Montserrat", sans-serif;
}

strong, span, small, label, i {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
}

strong {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

/* list style settings - start 
================================================== */
.ul-li > ul {
    margin: 0px;
    padding: 0px;
    display: table;
}

.ul-li > ul > li {
    float: left;
    list-style: none;
    display: inline-block;
}

.ul-li-block > ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: table;
}

.ul-li-block > ul > li {
    width: 100%;
    display: table;
    list-style: none;
}

.ul-li-right > ul {
    margin: 0px;
    padding: 0px;
    float: right;
    display: table;
}

.ul-li-right > ul > li {
    float: left;
    list-style: none;
    display: inline-block;
}

.ul-li-center > ul {
    padding: 0px;
    margin: 0 auto;
    display: table;
}

.ul-li-center > ul > li {
    float: left;
    list-style: none;
    display: inline-block;
}

/* list style settings - end
================================================== */
/* social links - start
================================================== */
/* social links - end
================================================== */
/* padding - margin setting - start 
================================================== */
.sec-ptb-130 {
    padding: 130px 0px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-60 {
    margin-bottom: 60px;
}

/* padding - margin setting - end
================================================== */
/* button style - start
================================================== */
.custom-btn {
    height: 60px;
    font-size: 18px;
    min-width: 200px;
    line-height: 62px;
    padding: 0px 30px;
    text-align: center;
    color: #ffffff;
    border-radius: 45px;
    font-weight: 600;
    -webkit-box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.22);
}

.custom-btn:hover {
    color: #ffffff;
}

.custom-btn.bg-default-red {
    -webkit-box-shadow: 0px 16px 28px 0px rgba(239, 67, 80, 0.22);
    box-shadow: 0px 16px 28px 0px rgba(239, 67, 80, 0.22);
}

.custom-btn.bg-default-brinjal {
    -webkit-box-shadow: 0px 16px 28px 0px rgba(111, 85, 235, 0.22);
    box-shadow: 0px 16px 28px 0px rgba(111, 85, 235, 0.22);
}

.custom-btn-bordered {
    height: 60px;
    font-size: 18px;
    min-width: 200px;
    line-height: 56px;
    padding: 0px 30px;
    text-align: center;
    border-radius: 45px;
    color: #3d2b9a;
    font-weight: 600;
    border: 2px solid #3d2b9a;
    -webkit-box-shadow: 0px 16px 28px 0px rgba(61, 43, 154, 0.22);
    box-shadow: 0px 16px 28px 0px rgba(61, 43, 154, 0.22);
}

.custom-btn-bordered:hover {
    color: #ffffff;
    background-color: #3d2b9a;
}

/* button style - end
================================================== */
/* title text - start
================================================== */
.section-title .title-text {
    z-index: 1;
    font-size: 38px;
    position: relative;
}

.section-title .big-text {
    z-index: -1;
    line-height: 1;
    font-size: 112px;
    margin-top: -40px;
    color: #f5f5fa;
    text-transform: uppercase;
}

.section-title p {
    font-size: 18px;
}

/* title text - end
================================================== */
/* back to top - start
================================================== */
#thetop {
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: absolute;
}

#backtotop {
    right: 15px;
    width: 45px;
    height: 45px;
    z-index: 999;
    bottom: 40px;
    display: none;
    position: fixed;
    border-radius: 100%;
    background-color: #ef8096;
    -webkit-box-shadow: 0px 3px 15px 1px rgba(239, 67, 80, 0.8);
    box-shadow: 0px 3px 15px 1px rgba(239, 67, 80, 0.8);
}

#backtotop #scroll {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    color: #ffffff;
    font-size: 20px;
    line-height: 47px;
    text-align: center;
    position: relative;
}

/* back to top - end
================================================== */
/* preloader - start
================================================== */
#preloader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1005;
    position: fixed;
    overflow: visible;
    /*background: #ffffff url("/static/images/preloader.gif") no-repeat center center;*/
}

/* preloader - end
================================================== */
/* custom colors - start
================================================== */
.bg-default-red {
    background-color: #ef8096;
}

.bg-default-blue {
    background-color: #0063ff;
}

.bg-default-color {
    background-color: #777777;
}

.bg-default-black {
    background-color: #0c0c0c;
}

.bg-default-brinjal {
    background-color: #6f55eb;
}

.bg-default-royalblue {
    background-color: #3d2b9a;
}

.bg-white {
    background-color: #ffffff;
}

.bg-black {
    background-color: #000000;
}

.bg-deep-gray {
    background-color: #e6d7f5;
}

.bg-light-gray {
    background-color: #f5f5fa;
}

.text-blue {
    color: #0063ff;
}

/* custom colors - end
================================================== */
/* css animation - start
================================================== */
.pulse-animation {
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
}

.pulse-animation:hover {
    -webkit-animation: none;
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.4);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.4);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    }
}

.updown-animation {
    -webkit-animation: updown 1.2s infinite alternate;
    animation: updown 1.2s infinite alternate;
}

@-webkit-keyframes updown {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes updown {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

/* css animation - end
================================================== */
/* transition - start
================================================== */
a,
button {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* transition - end
================================================== */
/* global area - end
==================================================================================================== */
/* header-section - start
==================================================================================================== */
/* header - start
================================================== */
.header-section {
    padding: 20px 0px;
}

.header-section .brand-logo .brand-link {
    max-width: 150px;
}

.header-section .brand-logo .mobile-menu-btn {
    display: none;
    line-height: 1;
    font-size: 30px;
    margin: 11px 0px;
    color: #ffffff;
}

.header-section .main-menubar {
    padding: 24px 0px;
}

.header-section .main-menubar > ul > li {
    margin-right: 40px;
}

.header-section .main-menubar > ul > li:last-child {
    margin-right: 0px !important;
}

.header-section .main-menubar > ul > li > a {
    padding: 0px;
    font-size: 16px;
    line-height: 1.2;
    position: relative;
    color: #ffffff;
    font-weight: 600;
}

.header-section .main-menubar > ul > li > a:before {
    left: 50%;
    opacity: 0;
    width: 5px;
    height: 5px;
    content: '';
    bottom: -8px;
    position: absolute;
    border-radius: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header-section .main-menubar > ul > li > .active:before {
    opacity: 1;
}

.header-section .main-menubar > ul > li:hover > a:before {
    opacity: 1;
}

.header-section .btns-group {
    padding: 11px 0px;
}

.header-section .btns-group > ul > li {
    margin-right: 20px;
}

.header-section .btns-group > ul > li:last-child {
    margin-right: 0px !important;
}

.header-section .btns-group > ul > li > .custom-btn,
.header-section .btns-group > ul > li > .custom-btn-bordered {
    height: 45px;
    font-size: 16px;
    min-width: 160px;
    line-height: 45px;
}

.header-section .btns-group > ul > li > .custom-btn-bordered {
    line-height: 41px;
    color: #ffffff;
    border-color: #ffffff;
    -webkit-box-shadow: 0px 16px 28px 0px rgba(255, 255, 255, 0.22);
    box-shadow: 0px 16px 28px 0px rgba(255, 255, 255, 0.22);
}

.header-section .btns-group > ul > li > .custom-btn-bordered:hover {
    border-color: #3d2b9a;
    -webkit-box-shadow: 0px 16px 28px 0px rgba(61, 43, 154, 0.22);
    box-shadow: 0px 16px 28px 0px rgba(61, 43, 154, 0.22);
}

/* header - end
================================================== */
/* dropdown menu style - start
================================================== */
.header-section .main-menubar > ul .manu-item-has-child {
    position: relative;
    padding-right: 15px;
}

.header-section .main-menubar > ul .manu-item-has-child:before {
    top: 3px;
    right: 0px;
    line-height: 1;
    font-size: 14px;
    content: '\f107';
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: 'Font Awesome 5 Pro';
}

.header-section .main-menubar > ul .manu-item-has-child:hover:before {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* dropdown menu style - end
================================================== */
/* sticky header - start
================================================== */
.sticky-header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sticky-header:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: '';
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sticky-header.stuck:before {
    background-color: #0063ff;
    -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
}

/* sticky header - end
================================================== */
/* sidebar menu - start
================================================== */
.sidebar-menu-wrapper {
    display: block;
}

.sidebar-menu-wrapper .sidebar-menu {
    top: 0;
    right: -320px;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    min-width: 300px;
    max-width: 300px;
    padding: 40px 0px;
    overflow-y: scroll;
    background-color: #0063ff;
    -webkit-transition: 0.6s cubic-bezier(1, 0, 0, 1);
    -o-transition: 0.6s cubic-bezier(1, 0, 0, 1);
    transition: 0.6s cubic-bezier(1, 0, 0, 1);
    /* menu items - start */
    /* menu items - end */
}

.sidebar-menu-wrapper .sidebar-menu .mCustomScrollBox {
    overflow: visible !important;
}

.sidebar-menu-wrapper .sidebar-menu .dismiss {
    padding: 0px 30px;
}

.sidebar-menu-wrapper .sidebar-menu .dismiss .close-btn {
    width: 40px;
    height: 40px;
    font-size: 30px;
    cursor: pointer;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    display: inline-block;
}

.sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li {
    width: 100%;
    display: table;
}

.sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li > a {
    width: 100%;
    display: block;
    font-size: 18px;
    padding: 12px 30px;
    font-weight: 500;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.6);
}

.sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li:hover > a {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-menu-wrapper .sidebar-menu .menu-list > ul > .active > a {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-menu-wrapper .sidebar-menu.active {
    right: 0px;
    -webkit-box-shadow: 0px 10px 55px 1px rgba(137, 173, 255, 0.35);
    box-shadow: 0px 10px 55px 1px rgba(137, 173, 255, 0.35);
}

.sidebar-menu-wrapper .overlay {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sidebar-menu-wrapper .overlay.active {
    opacity: 1;
    display: block;
}

.sidebar-menu::-webkit-scrollbar {
    width: 0px;
}

/* sidebar menu - end
================================================== */
/* header-section - end
==================================================================================================== */
/* footer section - start
==================================================================================================== */
.footer-section .footer-content {
    padding: 80px 0px;
    border-top: 1px solid #e6d7f5;
}

.footer-section .footer-content .title-text {
    font-size: 20px;
    margin-bottom: 30px;
    color: #6f55eb;
    font-weight: 600;
}

.footer-section .footer-content .brand-logo .brand-link {
    max-width: 280px;
}

.footer-section .footer-content .btns-group > ul > li {
    margin-right: 15px;
}

.footer-section .footer-content .btns-group > ul > li:last-child {
    margin-right: 0px !important;
}

.footer-section .footer-content .useful-links > ul > li {
    margin-bottom: 10px;
}

.footer-section .footer-content .useful-links > ul > li:last-child {
    margin-bottom: 0px !important;
}

.footer-section .footer-content .useful-links > ul > li > a {
    color: #537190;
    font-weight: 500;
}

.footer-section .footer-content .useful-links > ul > li > a:hover {
    color: #0063ff;
}

.footer-section .footer-content .language-dropdown .dropdown-toggle {
    color: #537190;
    font-weight: 500;
}

.footer-section .footer-content .language-dropdown .dropdown-toggle:before {
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
    content: '\f0ac';
    color: #6f55eb;
    font-family: 'Font Awesome 5 Pro';
}

.footer-section .footer-content .language-dropdown .dropdown-toggle:after {
    margin: 0px;
    border: none;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    content: '\f107';
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    font-family: 'Font Awesome 5 Pro';
}

/* footer section - end
==================================================================================================== */
/* home page - start
==================================================================================================== */
/* banner section - start
================================================== */
.banner-section {
    padding-top: 180px;
    position: relative;
    margin-bottom: 220px;
    padding-bottom: 200px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner-section .banner-content .title-text {
    display: table;
    font-size: 60px;
    max-width: 700px;
    color: #ffffff;
    margin: 0px auto 80px;
}

.banner-section .banner-content > p {
    display: table;
    font-size: 16px;
    margin: 0px auto;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transform: translateX(-95px);
    -ms-transform: translateX(-95px);
    transform: translateX(-95px);
}

.banner-section .banner-content > p > .video-btn {
    width: 100px;
    height: 100px;
    font-size: 26px;
    margin: 0px 10px;
    text-align: center;
    line-height: 102px;
    border-radius: 100%;
    color: #0063ff;
    background-color: #ffffff;
}

.banner-section .banner-content > p > .video-btn > i {
    margin-left: 5px;
}

.banner-section .banner-image {
    display: table;
    margin: 0px auto;
    max-width: 1000px;
    position: relative;
    margin-bottom: -575px;
}

.banner-section .deco-image-1 {
    top: 0px;
    left: 0px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: absolute;
}

.banner-section .deco-image-1 > img {
    -webkit-transform: translate(-100px, -100px);
    -ms-transform: translate(-100px, -100px);
    transform: translate(-100px, -100px);
}

.banner-section .deco-image-2 {
    top: 0px;
    right: 0px;
    width: 160px;
    position: absolute;
}

.banner-section .deco-image-3 {
    left: 0px;
    bottom: 0px;
    width: 160px;
    position: absolute;
}

.banner-section .deco-image-4 {
    right: 0px;
    z-index: -1;
    width: 300px;
    bottom: -520px;
    position: absolute;
}

/* banner section - end
================================================== */
/* service section - start
================================================== */
.service-section .service-box-item {
    padding: 30px;
    position: relative;
    border-radius: 20px;
    background-color: #ffffff;
    border-left: 3px solid #0063ff;
    -webkit-box-shadow: 0px 6px 32px 0px rgba(61, 43, 154, 0.13);
    box-shadow: 0px 6px 32px 0px rgba(61, 43, 154, 0.13);
}

.service-section .service-box-item:after, .service-section .service-box-item:before {
    content: '';
    position: absolute;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 6px 32px 0px rgba(61, 43, 154, 0.13);
    box-shadow: 0px 6px 32px 0px rgba(61, 43, 154, 0.13);
}

.service-section .service-box-item:before {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: -10px;
    z-index: -1;
}

.service-section .service-box-item:after {
    top: 25px;
    left: 30px;
    right: 30px;
    bottom: -20px;
    z-index: -2;
}

.service-section .service-box-item .item-title {
    font-size: 25px;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
    color: #3d2b9a;
}

.service-section .service-box-item .item-title:before {
    left: 50%;
    width: 50px;
    height: 4px;
    content: '';
    bottom: 0px;
    position: absolute;
    border-radius: 6px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #0063ff;
}

.service-section .service-box-item.border-red {
    border-color: #e37d97;
}

/* service section - end
================================================== */
/* feature section - start
================================================== */
.feature-section {
    position: relative;
}

.feature-section > .sec-deco-image {
    right: 0px;
    bottom: 0px;
    z-index: -1;
    width: 700px;
    position: absolute;
}

.feature-section .feature-item {
    z-index: 1;
    position: relative;
    margin-bottom: 130px;
}

.feature-section .feature-item:last-child {
    margin-bottom: 0px !important;
}

.feature-section .feature-item .feature-image {
    float: left;
    position: relative;
}

.feature-section .feature-item .feature-image .image-container {
    z-index: 1;
}

.feature-section .feature-item .feature-content {
    float: right;
    position: relative;
}

.feature-section .feature-item .feature-content .item-title {
    font-size: 42px;
}

.feature-section .feature-item .feature-content .item-title strong {
    display: block;
}

.feature-section .feature-item .feature-content > p {
    font-size: 18px;
}

.feature-section .feature-item .feature-content .custom-btn {
    border-radius: 5px;
}

.feature-section .feature-item .feature-content .circle-image {
    top: -80px;
    right: -50px;
    z-index: -1;
    width: 250px;
    position: absolute;
}

.feature-section .feature-item .deco-image {
    top: 50%;
    z-index: -1;
    width: 480px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.feature-section .feature-item .deco-image > img {
    width: 100%;
    display: block;
}

.feature-section .feature-item .deco-image-left {
    left: 0px;
}

.feature-section .feature-item .deco-image-right {
    right: 0px;
}

.feature-section .feature-item:nth-child(1) .feature-content {
    margin-top: 100px;
}

.feature-section .feature-item:nth-child(2n+0) .feature-image {
    float: right;
}

.feature-section .feature-item:nth-child(2n+0) .feature-content {
    float: left;
}

.feature-section .feature-item:nth-child(2n+0) .feature-content .circle-image {
    left: -100px;
    right: unset;
}

.feature-section .feature-item.small-image .feature-image {
    width: 35%;
}

.feature-section .feature-item.small-image .feature-content {
    width: 65%;
}

.feature-section .feature-item.big-image .feature-image {
    width: 40%;
}

.feature-section .feature-item.big-image .feature-image .image-container {
    width: 640px;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
}

.feature-section .feature-item.big-image .feature-content {
    width: 60%;
}

.feature-section .feature-item.medium-image .feature-image {
    width: 40%;
}

.feature-section .feature-item.medium-image .feature-content {
    width: 60%;
    padding-left: 30px;
}

/* feature section - end
================================================== */
/* faq section - start
================================================== */
.faq-section .faq-accordion .card {
    border: none;
    position: relative;
    border-radius: 0px;
    margin-bottom: 50px;
    background-color: transparent;
}

.faq-section .faq-accordion .card:last-child {
    margin-bottom: 0px !important;
}

.faq-section .faq-accordion .card:last-child:before {
    display: none;
}

.faq-section .faq-accordion .card:before {
    top: 50px;
    left: 18px;
    bottom: -40px;
    width: 5px;
    content: '';
    position: absolute;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
}

.faq-section .faq-accordion .card .card-header {
    padding: 0px;
    border: none;
    background-color: transparent;
}

.faq-section .faq-accordion .card .card-header > a {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.faq-section .faq-accordion .card .card-header > a > span {
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    margin-right: 30px;
    text-align: center;
    color: #ffffff;
    border-radius: 100%;
    font-weight: 500;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.1);
}

.faq-section .faq-accordion .card .card-header > a:hover {
    color: #ffffff;
}

.faq-section .faq-accordion .card .card-header > a:not(.collapsed) {
    color: #ffffff;
}

.faq-section .faq-accordion .card .card-header > a:not(.collapsed) > span {
    color: #0063ff;
    background-color: #ffffff;
}

.faq-section .faq-accordion .card .card-body {
    padding: 0px;
}

.faq-section .faq-accordion .card .card-body p {
    font-size: 14px;
    color: #ffffff;
    padding: 20px 30px;
    padding-left: 75px;
}

.faq-section .faq-image {
    overflow: hidden;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    -webkit-box-shadow: 11px 29px 45.9px 5.1px rgba(12, 12, 12, 0.1);
    box-shadow: 11px 29px 45.9px 5.1px rgba(12, 12, 12, 0.1);
}

/* faq section - end
================================================== */
/* calltoaction section - start
================================================== */
.calltoaction-section {
    position: relative;
}

.calltoaction-section .shape-image {
    top: 0px;
    right: 100px;
    width: 250px;
    position: absolute;
}

.calltoaction-section .section-title .title-text {
    font-size: 52px;
}

.calltoaction-section .section-title p {
    font-size: 30px;
}

.calltoaction-section .calltoaction-content .contact-number {
    color: #ef4350;
    font-size: 30px;
    font-weight: 600;
}

.calltoaction-section .calltoaction-content .custom-btn {
    border-radius: 25px;
}

.calltoaction-section .calltoaction-content p {
    font-size: 18px;
}

/* calltoaction section - end
================================================== */
/* home page - end
==================================================================================================== */
/* ================================================== 
*	Project Name 	:  RGHub
*	File 			:  Responsive CSS Base
*	Version 		:  1.0.0
*	Last change 	:  03 September 2019
*	Author 			:  ----------
*	Developer:		:  Rakibul Islam Dewan

*	css code for responsive layout To make Responsive
================================================== */
/* ==================================================
*	1 - media screen and (max-width: 1440px)
*	2 - media screen and (max-width: 1280px)
*	3 - media screen and (max-width: 1199px)
*	4 - media screen and (max-width: 991px)
*	5 - media screen and (max-width: 767px)
*	6 - media screen and (max-width: 680px)
*	7 - media screen and (max-width: 580px)
*	8 - media screen and (max-width: 480px)
*	9 - media screen and (max-width: 320px)
================================================== */
/*  ====================================================================================================
1 - media screen and (max-width: 1440px) - start
==================================================================================================== */
@media screen and (max-width: 1440px) {
    /* global - start */
    body {
        font-size: 14px;
    }

    /* global - end */
    /* home - start */
    .banner-section .banner-content .title-text {
        font-size: 36px;
        max-width: 460px;
        margin: 0px auto 50px;
    }

    .banner-section .banner-content > p > .video-btn {
        width: 60px;
        height: 60px;
        font-size: 24px;
        margin: 0px 10px;
        line-height: 60px;
    }

    .banner-section .banner-content > p {
        font-size: 14px;
    }

    .banner-section {
        padding-top: 160px;
        margin-bottom: 210px;
        padding-bottom: 200px;
    }

    .banner-section .banner-image {
        max-width: 780px;
        margin-bottom: -500px;
    }

    .feature-section .feature-item .deco-image {
        width: 340px;
    }

    .feature-section .feature-item.big-image .feature-image .image-container {
        width: 540px;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .feature-section .feature-item .feature-content > p {
        font-size: 16px;
    }

    .feature-section .feature-item .feature-content .item-title {
        font-size: 36px;
    }

    /* home - end */
}

/* ====================================================================================================
1 - media screen and (max-width: 1440px) - end
==================================================================================================== */
/*  ====================================================================================================
2 - media screen and (max-width: 1280px) - start
==================================================================================================== */
@media screen and (max-width: 1280px) {
    /* home - start */
    .feature-section .feature-item.big-image .feature-image .image-container {
        width: 510px;
    }

    .feature-section .feature-item .feature-content > p {
        font-size: 14px;
    }

    .feature-section .feature-item .feature-content .circle-image {
        right: 0px;
    }

    /* home - end */
}

/* ====================================================================================================
2 - media screen and (max-width: 1280px) - end
==================================================================================================== */
/*  ====================================================================================================
3 - media screen and (max-width: 1199px) - start
==================================================================================================== */
@media screen and (max-width: 1199px) {
    /* header - start */
    .header-section .main-menubar > ul > li > a {
        font-size: 14px;
    }

    .header-section .btns-group > ul > li > .custom-btn,
    .header-section .btns-group > ul > li > .custom-btn-bordered {
        min-width: 150px;
    }

    .header-section .btns-group > ul > li {
        margin-right: 5px;
    }

    /* header - end */
    /* home - start */
    .banner-section .banner-image {
        max-width: 630px;
        margin-bottom: -430px;
    }

    .banner-section {
        margin-bottom: 170px;
    }

    .banner-section .deco-image-4 {
        width: 200px;
        bottom: -360px;
    }

    .banner-section .banner-content > p {
        -webkit-transform: translateX(-70px);
        -ms-transform: translateX(-70px);
        transform: translateX(-70px);
    }

    .feature-section .feature-item .feature-content .circle-image {
        right: 0px;
    }

    .feature-section .feature-item.big-image .feature-image .image-container {
        width: 400px;
    }

    .feature-section .feature-item .deco-image {
        width: 250px;
    }

    .feature-section > .sec-deco-image {
        width: 550px;
    }

    .faq-section .faq-accordion .card .card-header > a {
        font-size: 16px;
    }

    /* home - end */
}

/* ====================================================================================================
3 - media screen and (max-width: 1199px) - end
==================================================================================================== */
/* ====================================================================================================
4 - media screen and (max-width: 991px) - start
==================================================================================================== */
@media screen and (max-width: 991px) {
    /* global - start */
    .section-title .big-text {
        font-size: 72px;
        margin-top: -30px;
    }

    .sec-ptb-130 {
        padding: 80px 0px;
    }

    /* global - end */
    /* header - start */
    .header-section .main-menubar {
        display: none;
    }

    .header-section .btns-group {
        display: none;
    }

    .header-section .brand-logo .mobile-menu-btn {
        display: inline-block;
    }

    .header-section .brand-logo .brand-link {
        max-width: 120px;
    }

    /* header - end */
    /* footer - start */
    .footer-section .footer-content {
        padding: 60px 0px;
    }

    .footer-section .footer-content .copyright-text {
        margin-bottom: 40px;
    }

    /* footer - end */
    /* home - start */
    .banner-section .deco-image-4 {
        display: none;
    }

    .service-section .service-box-item {
        margin-top: 50px;
    }

    .feature-section .feature-item .feature-image {
        display: table;
        margin: 0px auto;
        width: 80% !important;
        float: none !important;
    }

    .feature-section .feature-item .feature-content {
        display: table;
        margin: 0px auto;
        text-align: center;
        width: 80% !important;
        float: none !important;
        padding: 0px !important;
        margin-top: 30px !important;
    }

    .feature-section .feature-item .feature-image .image-container {
        max-width: 70%;
        display: table;
        margin: 0px auto;
    }

    .feature-section .feature-item .feature-image .image-container > img {
        width: 100%;
        display: block;
    }

    .feature-section .feature-item .deco-image {
        display: none;
    }

    .feature-section .feature-item .feature-content .circle-image {
        display: none;
    }

    .feature-section .feature-item .feature-content .item-title {
        font-size: 30px;
    }

    .feature-section .feature-item .feature-content > p {
        margin-bottom: 30px;
    }

    .faq-section .faq-image {
        margin-top: 40px;
    }

    .calltoaction-section .section-title .title-text {
        font-size: 30px;
    }

    .calltoaction-section .section-title p {
        font-size: 20px;
    }

    .calltoaction-section .shape-image {
        right: 20px;
        width: 180px;
    }

    /* home - end */
}

/* ====================================================================================================
4 - media screen and (max-width: 991px) - end
==================================================================================================== */
/* ====================================================================================================
5 - media screen and (max-width: 767px) - start
==================================================================================================== */
/* ====================================================================================================
5 - media screen and (max-width: 767px) - end
==================================================================================================== */
/* ====================================================================================================
6 - media screen and (max-width: 680px) - start
==================================================================================================== */
/* ====================================================================================================
6 - media screen and (max-width: 680px) - end
==================================================================================================== */
/* ====================================================================================================
7 - media screen and (max-width: 580px) - start
==================================================================================================== */
@media screen and (max-width: 580px) {
    /* global - start */
    .mb-60 {
        margin-bottom: 30px;
    }

    .section-title .big-text {
        font-size: 36px;
        margin-top: -20px;
    }

    .section-title .title-text {
        font-size: 30px;
    }

    .custom-btn {
        height: 50px;
        font-size: 16px;
        min-width: 180px;
        line-height: 52px;
        padding: 0px 25px;
    }

    /* global - start */
    /* header - start */
    .header-section .brand-logo .brand-link {
        max-width: 80px;
    }

    .header-section {
        padding: 15px 0px;
    }

    .header-section .brand-logo .mobile-menu-btn {
        margin: 2px 0px;
    }

    /* header - end */
    /* footer - start */
    .footer-section .footer-content .btns-group > ul > li > a {
        max-width: 100px;
    }

    .footer-section .footer-content .brand-logo .brand-link {
        max-width: 180px;
    }

    .footer-section .footer-content .title-text {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .footer-section .footer-content .useful-links {
        margin-bottom: 30px;
    }

    .footer-section .footer-content .col-lg-8.col-md-12.col-sm-12 .row .col-lg-3.col-md-3.col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    /* footer - end */
    /* home - start */
    .banner-section .deco-image-1 {
        width: 150px;
        height: 150px;
    }

    .banner-section .deco-image-1 > img {
        -webkit-transform: translate(-50px, -50px);
        -ms-transform: translate(-50px, -50px);
        transform: translate(-50px, -50px);
    }

    .banner-section .deco-image-2 {
        width: 80px;
    }

    .banner-section .deco-image-3 {
        width: 80px;
    }

    .banner-section .banner-content .title-text {
        font-size: 24px;
        max-width: 100%;
        margin: 0px auto 40px;
    }

    .banner-section .banner-content > p > .video-btn {
        width: 50px;
        height: 50px;
        font-size: 22px;
        line-height: 50px;
    }

    .banner-section {
        padding-top: 120px;
        margin-bottom: 60px;
        padding-bottom: 220px;
        background-size: cover;
    }

    .banner-section .banner-image {
        max-width: 100%;
        margin-bottom: -305px;
    }

    .banner-section .banner-content > p {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }

    .banner-section .banner-content > p span {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    .feature-section .feature-item .feature-image .image-container {
        max-width: 100%;
    }

    .feature-section .feature-item .feature-image {
        width: 100% !important;
    }

    .feature-section .feature-item .feature-content {
        width: 100% !important;
    }

    .feature-section .feature-item.big-image .feature-image .image-container {
        width: 100%;
    }

    .feature-section .feature-item .feature-content .item-title {
        font-size: 20px;
    }

    .faq-section .faq-accordion .card .card-header > a > span {
        margin-right: 10px;
    }

    .faq-section .faq-accordion .card .card-body p {
        padding: 20px;
        padding-left: 55px;
    }

    .faq-section .faq-accordion .card .card-header > a {
        font-size: 14px;
    }

    .faq-section .faq-accordion .card .card-header > a > span {
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }

    .calltoaction-section .section-title .title-text {
        font-size: 20px;
    }

    .calltoaction-section .shape-image {
        right: 15px;
        width: 100px;
    }

    .calltoaction-section .section-title p {
        font-size: 14px;
    }

    .calltoaction-section .calltoaction-content .contact-number {
        font-size: 20px;
    }

    .calltoaction-section .calltoaction-content p {
        font-size: 16px;
    }

    /* home - end */
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 992px !important;
    }
}

.errors {
    color: red;
}

/* ====================================================================================================
7 - media screen and (max-width: 580px) - end
==================================================================================================== */
/* ====================================================================================================
8 - media screen and (max-width: 480px) - start
==================================================================================================== */
/* ====================================================================================================
8 - media screen and (max-width: 480px) - end
==================================================================================================== */
/* ====================================================================================================
9 - media screen and (max-width: 320px) - start
==================================================================================================== */
/* ====================================================================================================
9 - media screen and (max-width: 320px) - end
==================================================================================================== */


.border-right-white-5 {
    border-right: 5px dotted #fff;
}

.font-size-2 {
    font-size: 2rem;
}

.font-size-5 {
    font-size: 5rem;
}

.font-size-1_5 {
    font-size: 1.5rem;
}

.font-size-3 {
    font-size: 3rem;
}

.id-img {
    width: 2.5in;
    height: 3in;
}