{% load static %}
<!DOCTYPE html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'img/fav.html' %}">

    <meta name="author" content="organization">

    <meta name="description" content="">

    <meta name="keywords" content="">

    <meta charset="UTF-8">
    <title>App</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/hexagons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<section class="banner-area" id="home">

    <header class="default-header">
        <nav class="navbar navbar-expand-lg  navbar-light">
            <div class="container">
                <a class="navbar-brand" href="index-2.html">
                    <img src="{% static 'img/logo.png' %}" alt="" class="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="lnr lnr-menu"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end align-items-center"
                     id="navbarSupportedContent">
                    {% include 'components/navbar.html' %}
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row justify-content-end fullscreen align-items-center">
            <div class="col-lg-6 col-md-12 banner-left">
                <h1 class="text-white">
                    The Best App <br>
                    in the Universe
                </h1>
                <p class="mx-auto text-white  mt-20 mb-40">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim.
                </p>
                <a href="#" class="text-uppercase header-btn">Load More Item</span></a>
            </div>
            <div class="col-lg-6 col-md-12 no-padding banner-right">
                <img class="img-fluid" src="{% static 'img/header-img.png' %}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="cat-area section-gap" id="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Latest News from all categories</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        <br> labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-cat d-flex flex-column">
                    <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span
                            class="lnr lnr-magic-wand"></span></span></a>
                    <h4 class="mb-20" style="margin-top: 23px;">Maintenance</h4>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        standards especially in the workplace. That’s why.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-cat">
                    <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span
                            class="lnr lnr-rocket"></span></span></a>
                    <h4 class="mt-40 mb-20">Residental Service</h4>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        standards especially in the workplace. That’s why.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-cat">
                    <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span
                            class="lnr lnr-bug"></span></span></a>
                    <h4 class="mt-40 mb-20">Commercial Service</h4>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        standards especially in the workplace. That’s why.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-area section-gap">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex">
            <div class="col-lg-6 about-left">
                <h1>
                    We Believe that <br>
                    Interior beautifies the <br>
                    Total Architecture
                </h1>
                <p class="mt-20">
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                    standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the
                    job is beyond reproach. inappropriate behavior is often laughed off as “boys will be boys,” women
                    face higher conduct standards especially in the workplace. That’s why it’s crucial that.
                </p>
                <a href="#" class="btn primary-btn text-uppercase mt-20">see details</a>
            </div>
            <div class="col-lg-6 about-right">
                <img class="img-fluid" src="{% static 'img/about-img.png' %}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="service-area section-gap" id="feature">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Some Features that Made us Unique</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4  col-md-6 mb-30">
                <div class="single-service">
                    <img class="d-block mx-auto mb-30" src="{% static 'img/f1.png' %}" alt="">
                    <h4><a href="#">Expert Technicians</a></h4>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 mb-30">
                <div class="single-service">
                    <img class="d-block mx-auto mb-30" src="{% static 'img/f2.png' %}" alt="">
                    <h4><a href="#">Professional Service</a></h4>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 mb-30">
                <div class="single-service">
                    <img class="d-block mx-auto mb-30" src="{% static 'img/f3.png' %}" alt="">
                    <h4><a href="#">Great Support</a></h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-service">
                    <img class="d-block mx-auto mb-30" src="{% static 'img/f4.png' %}" alt="">
                    <h4><a href="#">Expert Technicians</a></h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-service">
                    <img class="d-block mx-auto mb-30" src="{% static 'img/f5.png' %}" alt="">
                    <h4><a href="#">Professional Service</a></h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-service">
                    <img class="d-block mx-auto mb-30" src="{% static 'img/f6.png' %}" alt="">
                    <h4><a href="#">Great Support</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video-area pt-40 pb-40">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="video-content">
            <a href="https://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn"><img src="{% static 'img/play-btn.png' %}"
                                                                                        alt=""></a>
            <div class="video-desc">
                <h3 class="h2 text-white">Being unique is the preference</h3>
                <h4 class="text-white">Youtube video will appear in popover</h4>
            </div>
        </div>
    </div>
</section>

<section class="feature-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Some Features that Made us Unique</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-feature-carusel">
                <div class="item single-carusel relative">
                    <div class="image-wrap">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="{% static 'img/s1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="item single-carusel relative">
                    <div class="image-wrap">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="{% static 'img/s2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="item single-carusel relative">
                    <div class="image-wrap">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="{% static 'img/s3.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="price-area section-gap" id="price">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Choose the Perfect Plan for you</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>Standard</h4>
                            <p>For the <br>individuals</p>
                        </div>
                        <div class="top-right">
                            <h1>£199</h1>
                        </div>
                    </div>
                    <div class="bottom-sec">
                        <p>
                            “Few would argue that, despite the advancements
                        </p>
                    </div>
                    <div class="end-sec">
                        <ul>
                            <li>2.5 GB Free Photos</li>
                            <li>Secure Online Transfer Indeed</li>
                            <li>Unlimited Styles for interface</li>
                            <li>Reliable Customer Service</li>
                            <li>Manual Backup Provided</li>
                        </ul>
                        <button class="primary-btn price-btn mt-20">Purchase Plan</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>Business</h4>
                            <p>For the <br>small Company</p>
                        </div>
                        <div class="top-right">
                            <h1>£399</h1>
                        </div>
                    </div>
                    <div class="bottom-sec">
                        <p>
                            “Few would argue that, despite the advancements
                        </p>
                    </div>
                    <div class="end-sec">
                        <ul>
                            <li>2.5 GB Free Photos</li>
                            <li>Secure Online Transfer Indeed</li>
                            <li>Unlimited Styles for interface</li>
                            <li>Reliable Customer Service</li>
                            <li>Manual Backup Provided</li>
                        </ul>
                        <button class="primary-btn price-btn mt-20">Purchase Plan</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>Ultimate</h4>
                            <p>For the <br>large Company</p>
                        </div>
                        <div class="top-right">
                            <h1>£499</h1>
                        </div>
                    </div>
                    <div class="bottom-sec">
                        <p>
                            “Few would argue that, despite the advancements
                        </p>
                    </div>
                    <div class="end-sec">
                        <ul>
                            <li>2.5 GB Free Photos</li>
                            <li>Secure Online Transfer Indeed</li>
                            <li>Unlimited Styles for interface</li>
                            <li>Reliable Customer Service</li>
                            <li>Manual Backup Provided</li>
                        </ul>
                        <button class="primary-btn price-btn mt-20">Purchase Plan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq-area section-gap" id="faq">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Frequently Asked Questions</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="counter-left col-lg-3 col-md-3">
                <div class="single-facts">
                    <h2 class="counter">5962</h2>
                    <p>Projects Completed</p>
                </div>
                <div class="single-facts">
                    <h2 class="counter">2394</h2>
                    <p>New Projects</p>
                </div>
                <div class="single-facts">
                    <h2 class="counter">1439</h2>
                    <p>Tickets Submitted</p>
                </div>
                <div class="single-facts">
                    <h2 class="counter">933</h2>
                    <p>Cup of Coffee</p>
                </div>
            </div>
            <div class="faq-content col-lg-9 col-md-9">
                <div class="single-faq">
                    <h2>
                        Are your Templates responsive?
                    </h2>
                    <p>
                        “Few would argue that, despite the advancements of feminism over the past three decades, women
                        still face a double standard when it comes to their behavior. While men’s
                        borderline-inappropriate behavior.
                    </p>
                </div>
                <div class="single-faq">
                    <h2>
                        Does it have all the plugin as mentioned?
                    </h2>
                    <p>
                        “Few would argue that, despite the advancements of feminism over the past three decades, women
                        still face a double standard when it comes to their behavior. While men’s
                        borderline-inappropriate behavior.
                    </p>
                </div>
                <div class="single-faq">
                    <h2>
                        Can i use the these theme for my client?
                    </h2>
                    <p>
                        “Few would argue that, despite the advancements of feminism over the past three decades, women
                        still face a double standard when it comes to their behavior. While men’s
                        borderline-inappropriate behavior.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call-to-action-area section-gap">
    <div class="container">
        <div class="row justify-content-center top">
            <div class="col-lg-12">
                <h1 class="text-white text-center">Download This App Today!</h1>
                <p class="text-white text-center mt-30">
                    It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction
                    of Virtual Game, it has been achieving great heights so far as its popularity and technological
                    advancement are concerned.
                </p>
            </div>
        </div>
        <div class="row justify-content-center d-flex">
            <div class="download-button d-flex flex-row justify-content-center mt-30">
                <div class="buttons flex-row d-flex">
                    <i class="fa fa-apple" aria-hidden="true"></i>
                    <div class="desc">
                        <a href="#">
                            <p>
                                <span>Available</span> <br>
                                on App Store
                            </p>
                        </a>
                    </div>
                </div>
                <div class="buttons flex-row d-flex">
                    <i class="fa fa-android" aria-hidden="true"></i>
                    <div class="desc">
                        <a href="#">
                            <p>
                                <span>Available</span> <br>
                                on Play Store
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-12">
                <div class="single-footer-widget">
                    <h6>Top Products</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Managed Website</a></li>
                        <li><a href="#">Manage Reputation</a></li>
                        <li><a href="#">Power Tools</a></li>
                        <li><a href="#">Marketing Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6  col-md-12">
                <div class="single-footer-widget newsletter">
                    <h6>Newsletter</h6>
                    <p>You can trust us. we only send promo offers, not a single spam.</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" novalidate="true"
                              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                              method="get" class="form-inline">
                            <div class="form-group row" style="width: 100%">
                                <div class="col-lg-8 col-md-12">
                                    <input name="EMAIL" placeholder="Enter Email"
                                           onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''"
                                           onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Enter Email '"
                                           required="" type="email" data-cf-modified-fd489fac0b9745b2ed4f7d2c-="">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <button class="nw-btn primary-btn">Subscribe<span
                                            class="lnr lnr-arrow-right"></span></button>
                                </div>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-12">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Feed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="img/i1.jpg" alt=""></li>
                        <li><img src="img/i2.jpg" alt=""></li>
                        <li><img src="img/i3.jpg" alt=""></li>
                        <li><img src="img/i4.jpg" alt=""></li>
                        <li><img src="img/i5.jpg" alt=""></li>
                        <li><img src="img/i6.jpg" alt=""></li>
                        <li><img src="img/i7.jpg" alt=""></li>
                        <li><img src="img/i8.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between">

            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">Copyright &copy;<script
                    type="fd489fac0b9745b2ed4f7d2c-text/javascript">document.write(new Date().getFullYear());
            </script>
                All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                        href="https://colorlib.com/" target="_blank">Colorlib</a></p>

            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"
        type="text/javascript"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/parallax.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.sticky.js' %}" type="text/javascript"></script>
<script src="{% static 'js/hexagons.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.counterup.min.js'%}" type="text/javascript"></script>
<script src="{% static 'js/waypoints.min.js'%}" type="text/javascript"></script>
<script src="{% static 'js/main.js'%}" type="text/javascript"></script>

</body>
</html>