<!doctype html>
{% load static i18n %}
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'images/logo/favourite-icon.png' %}">
    {% endblock head %}
    {% block extra_head %}{% endblock extra_head %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
        <link href="{% static 'css1/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/checkbox_switch.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link href="{% static 'css1/sb-admin-2.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css1/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
    {% endblock css %}

    {% block extra_css %}{% endblock extra_css %}

    <title>{% block title %}{% trans "OrgHub" %}{% endblock title %}</title>
</head>
<body {% block body_class %}class=""{% endblock body_class %} {% block body_id %}id="page-top"{% endblock %}>
{% block container %}
    <div id="wrapper">
        {% include 'sidenav.html' %}

        <div id="content-wrapper" class="d-flex flex-column">

            {% block header %}

                {% include 'top_navbar.html' %}

                {% block breadcrumb %}
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% block breadcrumb_li %}
                                <li class="breadcrumb-item active" aria-current="page">Home</li>
                            {% endblock breadcrumb_li %}
                        </ol>
                    </nav>
                {% endblock %}
            {% endblock header %}

            {% block content %}
                <div class="container-fluid">
                    <div class="row">
                        <!-- ORGANIZATION LIST CARD -->
                        <div class="col-xl-4 col-md-4 col-sm-6 col-xs-6 mb-4">
                            <a href="{% url 'organization_list' %}" class="text-decoration-none w-100">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    My Organizations
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-sitemap fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- ID CARD -->
                        <div class="col-xl-4 col-md-4 col-sm-6 col-xs-6 mb-4">
                            <a href="{% url 'id_card' request.user.pk %}" class="text-decoration-none w-100">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">Id Card</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-id-card fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Payment Card -->
                        <div class="col-xl-4 col-md-4 col-sm-6 col-xs-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Payment</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Time Sheet Card -->
                        <div class="col-xl-4 col-md-4 col-sm-6 col-xs-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Time
                                                        Sheet
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Ticket Card -->
                        <div class="col-xl-4 col-md-4 col-sm-6 col-xs-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Ticket</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-ticket-alt fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- User Directory Card -->
                        <div class="col-xl-4 col-md-4 col-sm-6 col-xs-6 mb-4">
                            <a href="{% url 'user_directory' %}" class="text-decoration-none w-100">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">User Directory</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-address-book fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endblock content %}

            {% block footer %}
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; OrgHub Inc 2019</span>
                        </div>
                    </div>
                </footer>

            {% endblock footer %}

        </div>

    </div>
{% endblock container %}
{% block js %}
    <script src="{% static 'js1/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="{% static 'js1/bootstrap.min.js' %}"></script>
    <script src="{% static 'js1/jquery.cookie.js' %}"></script>
    <script src="{% static 'js1/sb-admin-2.js' %}"></script>
    <script src="{% static 'js1/main.js' %}"></script>
{% endblock js %}
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
