<!doctype html>
{% load static i18n %}
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'images/logo/favourite-icon.png' %}">
    {% endblock head %}
    {% block extra_head %}{% endblock extra_head %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}">
        <link href="{% static 'css1/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link href="{% static 'css1/sb-admin-2.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css1/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css1/animate.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css1/magnific-popup.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
    {% endblock css %}

    {% block extra_css %}{% endblock extra_css %}

    <title>{% block title %}{% trans "OrgHub" %}{% endblock title %}</title>
</head>