<!doctype html>
{% load static i18n %}
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'images/logo/favourite-icon.png' %}">
    {% endblock head %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    {% block extra_head %}{% endblock extra_head %}
    <title>{% block title %}{% trans "OrgHub" %}{% endblock title %}</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css1/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css1/fontawesome-all.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css1/animate.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css1/magnific-popup.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css1/style.css' %}">
    {% endblock css %}

</head>

<body class="{% block body_class %}{% endblock %}">

{% block container %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Register Here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="card border-0">

                                    <div class="card-header border-0 text-center">
                                        {% if request.tenant_site %}
                                            {% trans "Register" %}
                                        {% else %}
                                            {% trans "Register For" %}
                                        {% endif %}
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="non_field_errors errors register_errors"
                                                 id="register_non_field_errors"></div>
                                            {% if not request.tenant_site %}
                                                <div class="col-md-12">
                                                    <div class="list-group row" role="tablist"
                                                         style="flex-direction: row;">
                                                        <div class="col-md-6 text-center list-group-item list-group-item-action active"
                                                             id="list-home-list"
                                                             data-toggle="list" href="#organization_form_tab" role="tab"
                                                             aria-controls="home" style="cursor: pointer;">
                                                            <img src="{% static 'images/register_team.png' %}">
                                                            <p>Organization</p>
                                                        </div>
                                                        <div class="col-md-6 text-center list-group-item list-group-item-action"
                                                             id="list-profile-list"
                                                             data-toggle="list" href="#individual_form_tab" role="tab"
                                                             aria-controls="profile" style="cursor: pointer;">
                                                            <img src="{% static 'images/register_man.png' %}">
                                                            <p>Individual</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            {% endif %}
                                            <div class="col-md-12">
                                                <div class="tab-content row" id="nav-tabContent">

                                                    <div class="tab-pane fade show active" id="organization_form_tab"
                                                         role="tabpanel" aria-labelledby="list-home-list">


                                                        <p id="organization_form_tab_message" class="hidden"
                                                           style="font-size: 20px;"></p>

                                                        <form id="organization_form_register"
                                                              method="post" action="">
                                                            <div class="row" style="margin-bottom: 1rem;">
                                                                <div class="col-md-6">
                                                                    <label for="org_reg_first_name">First Name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="org_reg_first_name"
                                                                           name="first_name"
                                                                           aria-describedby="firstNameHelp"
                                                                           placeholder="First Name" required>
                                                                    <span class="errors register_errors first_name_error_span"
                                                                          style="display: inline;"></span>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="org_reg_last_name">Last Name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="org_reg_last_name"
                                                                           name="last_name"
                                                                           aria-describedby="lastNameHelp"
                                                                           placeholder="Last Name" required>
                                                                    <span class="errors register_errors last_name_error_span"
                                                                          style="display: inline;"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="org_reg_email">Email Address</label>
                                                                <input type="email" class="form-control"
                                                                       id="org_reg_email"
                                                                       name="email"
                                                                       aria-describedby="emailHelp"
                                                                       placeholder="Enter email" required>
                                                                <span class="errors register_errors email_error_span"
                                                                      style="display: inline;"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="org_reg_password">Password</label>
                                                                <input type="password" class="form-control"
                                                                       id="org_reg_password"
                                                                       name="password"
                                                                       aria-describedby="passwordHelp"
                                                                       placeholder="Password" required>
                                                                <span class="errors register_errors password_error_span"
                                                                      style="display: inline;"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="org_reg_username">
                                                                    {% if not request.tenant_site %}
                                                                        Organization Name
                                                                    {% else %}
                                                                        User Name
                                                                    {% endif %}
                                                                </label>
                                                                <input type="text" class="form-control"
                                                                       id="org_reg_username"
                                                                       name="username"
                                                                       aria-describedby="orgHelp"
                                                                       placeholder="Organization Name" required>
                                                                <span class="errors register_errors username_error_span"
                                                                      style="display: inline;"></span>
                                                            </div>

                                                            <div class="form-group">
                                                                <button class="btn btn-primary w-100"
                                                                        id="org_reg_submit" type="submit">
                                                                    {% trans "Register" %}
                                                                </button>
                                                            </div>

                                                        </form>

                                                    </div>


                                                    {% if not request.tenant_site %}
                                                        <div class="tab-pane fade" id="individual_form_tab"
                                                             role="tabpanel" aria-labelledby="list-profile-list">

                                                            <p id="individual_form_tab_message" class="hidden"
                                                               style="font-size: 20px;"></p>

                                                            <form id="individual_form_register"
                                                                  method="post" action="">

                                                                <div class="row" style="margin-bottom: 1rem;">
                                                                    <div class="col-md-6">
                                                                        <label for="ind_reg_first_name">First
                                                                            Name</label>
                                                                        <input type="text" class="form-control"
                                                                               id="ind_reg_first_name"
                                                                               name="first_name"
                                                                               aria-describedby="emailHelp"
                                                                               placeholder="First Name" required>
                                                                        <span class="errors register_errors first_name_error_span"
                                                                              style="display: inline;"></span>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="ind_reg_last_name">Last Name</label>
                                                                        <input type="text" class="form-control"
                                                                               id="ind_reg_last_name"
                                                                               name="last_name"
                                                                               aria-describedby="emailHelp"
                                                                               placeholder="Last Name" required>
                                                                        <span class="errors register_errors last_name_error_span"
                                                                              style="display: inline;"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ind_reg_email">Email Address</label>
                                                                    <input type="email" class="form-control"
                                                                           id="ind_reg_email"
                                                                           name="email"
                                                                           aria-describedby="emailHelp"
                                                                           placeholder="Enter email" required>
                                                                    <span class="errors register_errors email_error_span"
                                                                          style="display: inline;"></span>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ind_reg_password">Password</label>
                                                                    <input type="password" class="form-control"
                                                                           id="ind_reg_password"
                                                                           name="password"
                                                                           aria-describedby="emailHelp"
                                                                           placeholder="Password">
                                                                    <span class="errors register_errors password_error_span"
                                                                          style="display: inline;"></span>
                                                                </div>
                                                                <div class="row" style="margin-bottom: 1rem;">
                                                                    <div class="col-md-6">
                                                                        <label for="ind_reg_username">Username</label>
                                                                        <input type="text" class="form-control"
                                                                               id="ind_reg_username"
                                                                               name="username"
                                                                               aria-describedby="emailHelp"
                                                                               placeholder="Username" required>
                                                                        <span class="errors register_errors username_error_span"
                                                                              style="display: inline;"></span>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="ind_reg_organization">Organization</label>
                                                                        <input type="text" class="form-control"
                                                                               id="ind_reg_organization"
                                                                               name="organization"
                                                                               aria-describedby="emailHelp"
                                                                               placeholder="Organization" required>
                                                                        <span class="errors register_errors organization_error_span"
                                                                              style="display: inline;"></span>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <button class="btn btn-primary w-100"
                                                                            id="ind_reg_submit">
                                                                        {% trans "Register" %}
                                                                    </button>
                                                                </div>

                                                            </form>
                                                        </div>
                                                    {% endif %}

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="card h-100 border-0 justify-content-center">
                                    <div class="card-body">
                                        <img src="{% static 'images/register_banner.png' %}"
                                             style="vertical-align: center;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="loginModalCenter" tabindex="-1" role="dialog" aria-labelledby="loginModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title text-center" id="loginModalCenterTitle">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="card border-0">

                                    <div class="card-header border-0 text-center">
                                        {% if request.tenant_site %}
                                            {% trans "SignIn" %}
                                        {% else %}
                                            {% trans "SignIn For" %}
                                        {% endif %}
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="non_field_errors errors login_errors"
                                                 id="login_non_field_errors"></div>
                                            {% if not request.tenant_site %}
                                                <div class="col-md-12">
                                                    <div class="list-group row" role="tablist"
                                                         style="flex-direction: row;">
                                                        <div class="col-md-6 text-center list-group-item list-group-item-action active"
                                                             id="list-org-login"
                                                             data-toggle="list" href="#organization_login_form_tab"
                                                             role="tab" aria-controls="home" style="cursor: pointer;">
                                                            <img src="{% static 'images/register_team.png' %}">
                                                            <p>Organization</p>
                                                        </div>
                                                        <div class="col-md-6 text-center list-group-item list-group-item-action"
                                                             id="list-ind-login"
                                                             data-toggle="list" href="#individual_login_form_tab"
                                                             role="tab" aria-controls="profile"
                                                             style="cursor: pointer;">
                                                            <img src="{% static 'images/register_man.png' %}">
                                                            <p>Individual</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            {% endif %}
                                            <div class="col-md-12">
                                                <div class="tab-content row" id="login-tabContent">

                                                    <div class="tab-pane fade show active w-100"
                                                         id="organization_login_form_tab" role="tabpanel"
                                                         aria-labelledby="list-org-login">

                                                        <p id="organization_login_form_tab_message" class="hidden"
                                                           style="font-size: 20px;"></p>

                                                        <form id="organization_form_login"
                                                              method="post" action="">

                                                            <div class="form-group">
                                                                <label for="org_login_email">Email Address</label>
                                                                <input type="email" class="form-control"
                                                                       id="org_login_email"
                                                                       name="email"
                                                                       aria-describedby="emailHelp"
                                                                       placeholder="Enter email" required>
                                                                <span class="errors login_errors email_error_span"
                                                                      style="display: inline;"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="org_login_password">Password</label>
                                                                <input type="password" class="form-control"
                                                                       id="org_login_password"
                                                                       name="password"
                                                                       aria-describedby="passwordHelp"
                                                                       placeholder="Password" required>
                                                                <span class="errors login_errors password_error_span"
                                                                      style="display: inline;"></span>
                                                            </div>

                                                            <div class="form-group">
                                                                <button class="btn btn-primary w-100"
                                                                        id="org_login_submit" type="submit">
                                                                    {% trans "LogIn" %}
                                                                </button>
                                                            </div>

                                                        </form>

                                                    </div>


                                                    {% if not request.tenant_site %}
                                                        <div class="tab-pane fade w-100" id="individual_login_form_tab"
                                                             role="tabpanel" aria-labelledby="list-ind-login">

                                                            <p id="individual_login_form_tab_message" class="hidden"
                                                               style="font-size: 20px;"></p>

                                                            <form id="individual_form_login"
                                                                  method="post" action="">

                                                                <div class="form-group">
                                                                    <label for="ind_login_email">Email Address</label>
                                                                    <input type="email" class="form-control"
                                                                           id="ind_login_email"
                                                                           name="email"
                                                                           aria-describedby="emailHelp"
                                                                           placeholder="Enter email" required>
                                                                    <span class="errors login_errors email_error_span"
                                                                          style="display: inline;"></span>
                                                                </div>
                                                                <div class="row" style="margin-bottom: 1rem;">
                                                                    <div class="col-md-6">
                                                                        <label for="ind_login_password">Password</label>
                                                                        <input type="password" class="form-control"
                                                                               id="ind_login_username"
                                                                               name="password"
                                                                               aria-describedby="emailHelp"
                                                                               placeholder="Password" required>
                                                                        <span class="errors login_errors password_error_span"
                                                                              style="display: inline;"></span>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="ind_login_organization">Organization</label>
                                                                        <input type="text" class="form-control"
                                                                               id="ind_login_organization"
                                                                               name="organization"
                                                                               aria-describedby="emailHelp"
                                                                               placeholder="Organization" required>
                                                                        <span class="errors login_errors organization_error_span"
                                                                              style="display: inline;"></span>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <button class="btn btn-primary w-100"
                                                                            id="ind_login_submit">
                                                                        {% trans "LogIn" %}
                                                                    </button>
                                                                </div>

                                                            </form>
                                                        </div>
                                                    {% endif %}

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="card h-100 border-0 justify-content-center">
                                    <div class="card-body">
                                        <img src="{% static 'images/register_banner.png' %}"
                                             style="vertical-align: center;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block top %}
        <div id="thetop"></div>
        <div id="backtotop">
            <a href="#" id="scroll">
                <i class="far fa-arrow-up"></i>
            </a>
        </div>
    {% endblock top %}


    {% block header %}
        <header id="header-section" class="header-section sticky-header clearfix">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="brand-logo clearfix">
                            <a href="#!" class="brand-link float-left">
                                <img src="{% static 'img/RGHublogo.png' %}" alt="logo_not_found" class="logo">
                            </a>
                            <button type="button" id="sidebar-collapse" class="mobile-menu-btn float-right">
                                <i class="fal fa-bars"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="main-menubar ul-li-center clearfix">
                            <ul class="clearfix">
                                <li class="manu-item-has-child">
                                    <a href="#thetop" class="nav-link scrollspy-btn active">Home</a>
                                </li>
                                <li class="manu-item-has-child">
                                    <a href="#!" class="nav-link scrollspy-btn">About</a>
                                </li>
                                <li class="manu-item-has-child">
                                    <a href="#!" class="nav-link scrollspy-btn">Products</a>
                                </li>
                                <li class="manu-item-has-child">
                                    <a href="#!" class="nav-link scrollspy-btn">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="btns-group ul-li-right clearfix">
                            <ul class="clearfix">
                                <li>
                                    <a href="{% url 'login' %}" class="custom-btn-bordered"
                                    >Log in</a>
                                </li>
                                <li>
                                    <a href="{% url 'signup' %}"
                                       class="custom-btn bg-default-red">
                                        <i class="fas fa-user-friends"></i> Register
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </header>

        <div class="sidebar-menu-wrapper">
            <div id="sidebar-menu" class="sidebar-menu">

                <div class="dismiss text-right mb-60 clearfix">
                    <span class="close-btn"><i class="fal fa-times"></i></span>
                </div>

                <div id="menu-list" class="menu-list mb-60 ul-li-block clearfix">
                    <ul class="clearfix">
                        <li class="manu-item-has-child">
                            <a href="#thetop" class="nav-link scrollspy-btn active">Home</a>
                        </li>
                        <li class="manu-item-has-child">
                            <a href="#!" class="nav-link scrollspy-btn">About</a>
                        </li>
                        <li class="manu-item-has-child">
                            <a href="#!" class="nav-link scrollspy-btn">Products</a>
                        </li>
                        <li class="manu-item-has-child">
                            <a href="#!" class="nav-link scrollspy-btn">Contact</a>
                        </li>
                        <li class="manu-item-has-child">
                            <a href="{% url 'login' %}" class=""
                            >Log in</a>
                        </li>
                        <li class="manu-item-has-child">
                            <a href="{% url 'signup' %}"
                               class="bg-default-red">
                                <i class="fas fa-user-friends"></i> Register
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="overlay"></div>
        </div>
    {% endblock header %}


    {% block banner %}
        <section id="banner-section" class="banner-section background-property clearfix"
                 style="background-image: url(/static/images/banner/bg_1.png);">
            <div class="container">

                <div class="banner-content text-center mb-60 clearfix">
                    <h2 class="title-text">
                        DIGITAL IDENTITY PLATFORM
                    </h2>
                    <p class="mb-0">
                        <span>why choose our services?</span>
                        <a href="https://youtu.be/X0LwYLuXWhE?list=RDfW2j_6HkaJg"
                           class="video-btn popup-btn pulse-animation">
                            <i class="fas fa-play"></i>
                        </a>
                        watch now
                    </p>
                </div>

                <div class="banner-image">
                    <img class="updown-animation" src="{% static 'images/banner/img_1.png' %}" alt="image_not_found">
                </div>

                <div class="deco-image-1">
                    <img src="{% static 'images/shapes/shape_1.png' %}" alt="image_not_found">
                </div>
                <div class="deco-image-2">
                    <img src="{% static 'images/shapes/shape_6-1.png' %}" alt="image_not_found">
                </div>
                <div class="deco-image-3">
                    <img src="{% static 'images/shapes/shape_6.png' %}" alt="image_not_found">
                </div>
                <div class="deco-image-4">
                    <img src="{% static 'images/shapes/shape_8.png' %}" alt="image_not_found">
                </div>

            </div>
        </section>
    {% endblock banner %}


    {% block service %}
        <section id="service-section" class="service-section sec-ptb-130 clearfix">
            <div class="container">

                <div class="section-title text-center clearfix">
                    <h2 class="title-text mb-0">Our Services</h2>
                    <h3 class="big-text mb-0">Our Services</h3>
                </div>

                <div class="row justify-content-lg-start justify-content-md-center">
                    <div class="col-lg-4 col-md-7 col-sm-12">
                        <div class="service-box-item">
                            <h3 class="item-title text-center">Student ID Cards</h3>
                            <p class="mb-0">
                                Schools can issue mobile ID cards to their students using our ID Management System. You
                                can also customize cards for teachers, parents, staff, vendors, volunteers, and guests.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-7 col-sm-12">
                        <div class="service-box-item border-red">
                            <h3 class="item-title text-center">Student ID Cards</h3>
                            <p class="mb-0">
                                Schools can issue mobile ID cards to their students using our ID Management System. You
                                can also customize cards for teachers, parents, staff, vendors, volunteers, and guests.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-7 col-sm-12">
                        <div class="service-box-item">
                            <h3 class="item-title text-center">Student ID Cards</h3>
                            <p class="mb-0">
                                Schools can issue mobile ID cards to their students using our ID Management System. You
                                can also customize cards for teachers, parents, staff, vendors, volunteers, and guests.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    {% endblock service %}


    {% block feature %}
        <section id="feature-section" class="feature-section sec-ptb-130 pt-0 clearfix">
            <div class="sec-deco-image">
                <img src="{% static 'images/shapes/shape_5.png' %}" alt="image_not_found">
            </div>

            <div class="items-wrap">
                <div class="feature-item small-image clearfix">
                    <div class="container">
                        <div class="feature-image">
                            <div class="image-container">
                                <img src="{% static 'images/feature/img_1.png' %}" alt="image_not_found">
                            </div>
                        </div>
                        <div class="feature-content">
                            <h3 class="item-title mb-30">Digital identity</h3>
                            <p class="mb-60">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letrvaset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <a href="#!" class="custom-btn bg-default-brinjal">Read More</a>
                            <span class="circle-image">
								<img src="{% static 'images/shapes/shape_1.png' %}" alt="image_not_found">
							</span>
                        </div>
                    </div>
                    <span class="deco-image deco-image-left">
						<img src="{% static 'images/shapes/shape_3.png' %}" alt="image_not_found">
					</span>
                </div>

                <div class="feature-item big-image clearfix">
                    <div class="container">
                        <div class="feature-image">
                            <div class="image-container">
                                <img src="{% static 'images/feature/img_2.png' %}" alt="image_not_found">
                            </div>
                        </div>
                        <div class="feature-content">
                            <h3 class="item-title mb-30">Organization <strong>productivity apps</strong></h3>
                            <p class="mb-60">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letrvaset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <a href="#!" class="custom-btn bg-default-brinjal">Read More</a>
                            <span class="circle-image">
								<img src="{% static 'images/shapes/shape_1.png' %}" alt="image_not_found">
							</span>
                        </div>
                    </div>
                    <span class="deco-image deco-image-right">
						<img src="{% static 'images/shapes/shape_4.png' %}" alt="image_not_found">
					</span>
                </div>

                <div class="feature-item medium-image clearfix">
                    <div class="container">
                        <div class="feature-image">
                            <div class="image-container">
                                <img src="{% static 'images/feature/img_3.png' %}" alt="image_not_found">
                            </div>
                        </div>
                        <div class="feature-content">
                            <h3 class="item-title mb-30">Strengthen transactional <strong>& reputational
                                integrity</strong></h3>
                            <p class="mb-60">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letrvaset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <a href="#!" class="custom-btn bg-default-brinjal">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock feature %}


    {% block faq %}
        <section id="faq-section" class="faq-section sec-ptb-130 bg-default-blue clearfix">
            <div class="container">
                <div class="row justify-content-lg-start justify-content-md-center">

                    <div class="col-lg-7 col-md-10 col-sm-12">
                        <div id="faq-accordion" class="faq-accordion">

                            <div class="card">
                                <div class="card-header">
                                    <a data-toggle="collapse" href="#collapseOne">
                                        <span>1</span>
                                        Javascript Development
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#faq-accordion">
                                    <div class="card-body">
                                        <p class="mb-0">
                                            Complain Management System is a platform which is double implied between
                                            customer and seller. It helps the seller to keep track of all the complaints
                                            lodged by the customer in respect of the product.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo">
                                        <span>2</span>
                                        How can I uninstall Dummy Content?
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#faq-accordion">
                                    <div class="card-body">
                                        <p class="mb-0">
                                            Complain Management System is a platform which is double implied between
                                            customer and seller. It helps the seller to keep track of all the complaints
                                            lodged by the customer in respect of the product.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree">
                                        <span>3</span>
                                        Where can I download earlier versions?
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#faq-accordion">
                                    <div class="card-body">
                                        <p class="mb-0">
                                            Complain Management System is a platform which is double implied between
                                            customer and seller. It helps the seller to keep track of all the complaints
                                            lodged by the customer in respect of the product.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseFour">
                                        <span>4</span>
                                        Under what license are Regular Labs extensions released?
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#faq-accordion">
                                    <div class="card-body">
                                        <p class="mb-0">
                                            Complain Management System is a platform which is double implied between
                                            customer and seller. It helps the seller to keep track of all the complaints
                                            lodged by the customer in respect of the product.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseFive">
                                        <span>5</span>
                                        Do I still need the NoNumber Framework plugin?
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#faq-accordion">
                                    <div class="card-body">
                                        <p class="mb-0">
                                            Complain Management System is a platform which is double implied between
                                            customer and seller. It helps the seller to keep track of all the complaints
                                            lodged by the customer in respect of the product.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <div class="faq-image">
                            <img src="{% static 'images/faq/img_1.jpg' %}" alt="image_not_found">
                        </div>
                    </div>

                </div>
            </div>
        </section>
    {% endblock faq %}


    {% block call_to_action %}
        <section id="calltoaction-section" class="calltoaction-section sec-ptb-130 clearfix">
            <div class="container">

                <div class="section-title text-center mb-60">
                    <h2 class="title-text mb-15">IdCard Private <span class="text-blue">Digital Currency</span></h2>
                    <p class="mb-0">
                        Bitmin is a secure, private, and untraceable cryptocurrency. It is open-source and accessible to
                        all.
                    </p>
                </div>

                <div class="calltoaction-content text-center">
                    <a href="#!" class="custom-btn bg-default-brinjal mb-30">Get started</a>
                    <h3 class="contact-number">call us : +(1200) 989 - 081</h3>
                    <p class="mb-0">For any question or concern</p>
                </div>

                <div class="shape-image">
                    <img src="{% static 'images/shapes/shape_7.png' %}" alt="image_not_found">
                </div>

            </div>
        </section>
    {% endblock call_to_action %}

    {% block footer %}
        <footer id="footer-section" class="footer-section clearfix">
            <div class="container">
                <div class="footer-content">
                    <div class="row">

                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="brand-logo mb-60 clearfix">
                                <a href="#!" class="brand-link">
                                    <img src="{% static 'images/logo/logo_2.png' %}" alt="logo_not_found">
                                </a>
                            </div>
                            <div class="btns-group ul-li mb-30 clearfix">
                                <ul class="clearfix">
                                    <li>
                                        <a href="#!">
                                            <img src="{% static 'images/btn_1.png' %}" alt="btn_not_found">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!">
                                            <img src="{% static 'images/btn_2.png' %}" alt="btn_not_found">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="copyright-text clearfix">
                                <p class="mb-0">
                                    2018 © Copyrights, All rights reserved.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="row">

                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="useful-links ul-li-block clearfix">
                                        <h3 class="title-text">About us</h3>
                                        <ul class="clearfix">
                                            <li><a href="#!">Home</a></li>
                                            <li><a href="#!">Features</a></li>
                                            <li><a href="#!">Docs</a></li>
                                            <li><a href="#!">Pricing</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="useful-links ul-li-block clearfix">
                                        <h3 class="title-text">Features</h3>
                                        <ul class="clearfix">
                                            <li><a href="#!">Services</a></li>
                                            <li><a href="#!">Online Shop</a></li>
                                            <li><a href="#!">Influences</a></li>
                                            <li><a href="#!">Media</a></li>
                                            <li><a href="#!">Brands</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="useful-links ul-li-block clearfix">
                                        <h3 class="title-text">Blog</h3>
                                        <ul class="clearfix">
                                            <li><a href="#!">Terms & conditions</a></li>
                                            <li><a href="#!">Support</a></li>
                                            <li><a href="#!">Privacy</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="language-dropdown">
                                        <a class="dropdown-toggle" href="#!" id="lan-submenu" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <span class="flag-icon flag-icon-us"></span>
                                            English
                                        </a>
                                        <div class="dropdown-menu ul-li-block" aria-labelledby="lan-submenu">
                                            <ul class="clearfix">
                                                <li><a class="dropdown-item" href="#fr"><span
                                                        class="flag-icon flag-icon-fr"></span>French</a></li>
                                                <li><a class="dropdown-item" href="#it"><span
                                                        class="flag-icon flag-icon-it"></span>Italian</a></li>
                                                <li><a class="dropdown-item" href="#ru"><span
                                                        class="flag-icon flag-icon-ru"></span>Russian</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}

{% endblock container %}

{% block js %}
    <script src="{% static 'js1/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js1/popper.min.js' %}"></script>
    <script src="{% static 'js1/bootstrap.min.js' %}"></script>
    <script src="{% static 'js1/magnific-popup.min.js' %}"></script>

    <script src="{% static 'js1/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js1/scrollspy.js' %}"></script>
    <script src="{% static 'js1/mCustomScrollbar.js' %}"></script>
    <script src="{% static 'js1/custom.js' %}"></script>
{% endblock js %}
{% block extra_js %}
{% endblock extra_js %}
</body>

</html>