{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'img/fav.html' %}">

    <meta name="author" content="organization">

    <meta name="description" content="">

    <meta name="keywords" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <meta charset="UTF-8">
    <title>OrgHub</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/hexagons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block custom_css %}{% endblock %}
</head>
<body>


<div class="">
    <section class=" section-gap">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</div>

<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"
        type="text/javascript"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/parallax.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.sticky.js' %}" type="text/javascript"></script>
<script src="{% static 'js/hexagons.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>

</body>
