{% load static i18n %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-text mx-3">
            <img src="{% static 'img/RGHublogo.png' %}" alt="" class="logo">
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'organization_list' %}">
            <span>{% trans "Organizations" %}</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_client_nav"
           aria-expanded="true" aria-controls="collapse_client_nav">
            <i class="fas fa-fw fa-wrench"></i>
            <span>{% trans "Client" %}</span>
        </a>
        <div id="collapse_client_nav" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="">{% trans "Clients" %}</a>
                <a class="collapse-item" href="">{% trans "Create Client" %}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse"
           data-target="#collapse_client_campaign_nav"
           aria-expanded="true" aria-controls="collapse_client_campaign_nav">
            <i class="fas fa-fw fa-cog"></i>
            <span>{% trans "Client Campaign" %}</span>
        </a>
        <div id="collapse_client_campaign_nav" class="collapse" aria-labelledby="headingTwo"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="">{% trans "Client Campaigns" %}</a>
                <a class="collapse-item" href="">{% trans "Create Campaign" %}</a>
            </div>
        </div>
    </li>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_vendor_nav"
           aria-expanded="true" aria-controls="collapse_vendor_nav">
            <i class="fas fa-fw fa-cog"></i>
            <span>{% trans "Vendor" %}</span>
        </a>
        <div id="collapse_vendor_nav" class="collapse" aria-labelledby="headingTwo"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="">{% trans "Vendors" %}</a>
                <a class="collapse-item" href="">{% trans "Create Vendor" %}</a>
            </div>
        </div>
    </li>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse"
           data-target="#collapse_vendor_campaign_nav"
           aria-expanded="true" aria-controls="collapse_vendor_campaign_nav">
            <i class="fas fa-fw fa-cog"></i>
            <span>{% trans "Vendor Campaign" %}</span>
        </a>
        <div id="collapse_vendor_campaign_nav" class="collapse" aria-labelledby="headingTwo"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="">{% trans "Vendor Campaigns" %}</a>
                <a class="collapse-item" href="">{% trans "Create Campaigns" %}</a>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->