{% extends "organizations_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div style="margin-top: 5px;">
        <div class="wrapper">
            <div class="container">
                <div class="row vh-100">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card card-login mx-auto mt-5">
                            <div class="card-header">Sign Up</div>
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                                </form>

                                <hr>
                                <div class="pt-1 pb-5">
                                    Already have an account? <a href="{% url 'login' %}">Login</a> <br>
                                    Forgot password? <a href="{% url 'password_reset' %}">Reset Password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_css %}
    <style>
        .section-gap {
            padding: 0;
        }
    </style>
{% endblock %}