{% load static i18n %}
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small"
                   placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.get_full_name }}</span>
                {% if request.user.user_profile.picture %}
                    <img class="img-profile rounded-circle"
                         src="{{ MEDIA_URL }}{{ request.user.user_profile.picture }}" height="60" width="60">
                {% else %}
                    <img
                            src="{% static 'img/empty_image.jpg' %}"
                            alt="profile image"
                            class="img-profile rounded-circle"
                            height="60" width="60"
                    >
                {% endif %}
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'organization_add' %}">
                    <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                    Add Organization
                </a>
                <a class="dropdown-item" href="{% url 'id_card' request.user.pk %}  ">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile ID Card
                </a>
                <a class="dropdown-item" href="{% url 'password_change' %}">
                    <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                    Change password
                </a>
                <a class="dropdown-item" href="{% url 'update' %}">
                    <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                    Update Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>

</nav>
<!-- End of Topbar -->