<ul class="navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Accounts
        </a>
        <div class="dropdown-menu">
            {% if request.user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'organization_add' %}">Add Organization</a>
                <a class="dropdown-item" href="{% url 'update' %}">Update My Profile</a>
                <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </li>
</ul>