<!doctype html>
{% load static i18n %}
<html lang="en">

{% include 'head.html' %}

<body {% block body_class %}class=""{% endblock body_class %} {% block body_id %}id="page-top"{% endblock %}>
{% block container %}
    <div id="wrapper">

        {% include 'sidenav.html' %}

        <div id="content-wrapper" class="d-flex flex-column">

            {% block header %}
                {% include 'top_navbar.html' %}

                {% block breadcrumb %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        {% block breadcrumb_li %}
                                            <li class="breadcrumb-item active" aria-current="page">Organizations</li>
                                        {% endblock breadcrumb_li %}
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            {% endblock header %}

            {% block content %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow mb-4">
                                <div class="">
                                    <div class="user-directory-search-box">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <form class="form-inline mb-5 mt-5" method="get">
                                                    <div class="col-md-8">
                                                        <div class="form-group mb-2">
                                                            <div class="w-100">
                                                                <input type="text"
                                                                       class="form-control orghub-form-input w-100"
                                                                       id="search_term"
                                                                       name="search_term"
                                                                       placeholder="Search by person name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button type="submit" class="btn orghub-info ptb-12 mb-2">Search
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="row mt-5">
                                                    <div class="col-md-3">
                                                        <button type="submit" class="btn orghub-info ptb-12 mb-2">Add
                                                        </button>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button type="submit" class="btn orghub-info ptb-12 mb-2">Import
                                                        </button>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-5">
                                                        <button type="submit" class="btn orghub-success ptb-12 mb-2">
                                                            Send Employee
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="user-directory-table">
                                        <table class="table user-directory">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Person name</th>
                                                <th>Active</th>
                                                <th>Created on</th>
                                                <th>Updated on</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if organization_users %}
                                                {% for usr in organization_users %}
                                                    <tr>
                                                        <td>{{ usr.pk }}</td>
                                                        <td>
{#                                                            <a href="{{ usr.get_absolute_url }}">#}
{#                                                                {{ usr.name|default:"N/A" }}#}
{#                                                            </a>#}
                                                            <a href="#">
                                                                {{ usr.name|default:"N/A" }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            {% if usr.user.is_active %}
                                                                <span style="color: green">
                                                                    <i class="fas fa-check-circle"></i>
                                                                </span>
                                                            {% else %}
                                                                <span style="color: red">
                                                                    <i class="fas fa-times-circle"></i>
                                                                </span>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ usr.created }}</td>
                                                        <td>{{ usr.modified }}</td>
                                                        <td>
{#                                                            <a href="{% url "organization_user_edit" organization.pk usr.user.pk %}"#}
{#                                                               class="btn orghub-success mb-10">#}
{#                                                                Edit#}
{#                                                            </a>#}
{#                                                            <a href="{% url "organization_user_delete" organization.pk usr.user.pk %}"#}
{#                                                               class="btn btn-success orghub-danger mb-10">#}
{#                                                                Delete#}
{#                                                            </a>#}
                                                            <a href="#"
                                                               class="btn orghub-success mb-10">
                                                                Edit
                                                            </a>
                                                            <a href="#"
                                                               class="btn btn-success orghub-danger mb-10">
                                                                Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td class="text-center" colspan="6">No data available</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>

                                        {% if is_paginated %}
                                            <ul class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                                    </li>
                                                {% else %}
                                                    <li class="disabled page-item">
                                                        <a class="page-link" href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% for i in paginator.page_range %}
                                                    {% if page_obj.number == i %}
                                                        <li class="active page-item"><span
                                                                class="page-link">{{ i }} <span
                                                                class="sr-only">(current)</span></span></li>
                                                    {% else %}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?page={{ i }}">{{ i }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if page_obj.has_next %}
                                                    <li class="page-item"><a class="page-link"
                                                                             href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                                                    </li>
                                                {% else %}
                                                    <li class="disabled page-item">
                                                        <a class="page-link" href="#" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}

            {% block footer %}
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; OrgHub Inc 2019</span>
                        </div>
                    </div>
                </footer>

            {% endblock footer %}
        </div>

    </div>
{% endblock container %}
{% block js %}
    <script src="{% static 'js1/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="{% static 'js1/bootstrap.min.js' %}"></script>
    <script src="{% static 'js1/sb-admin-2.js' %}"></script>
{% endblock js %}
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
