<!doctype html>
{% load static i18n %}
{% load crispy_forms_tags %}
<html lang="en">

{% include 'head.html' %}

<body {% block body_class %}class=""{% endblock body_class %} {% block body_id %}id="page-top"{% endblock %}>
{% block container %}
    <div id="wrapper">

        {% include 'sidenav.html' %}

        <div id="content-wrapper" class="d-flex flex-column">

            {% block header %}
                {% include 'top_navbar.html' %}

                {% block breadcrumb %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        {% block breadcrumb_li %}
                                            <li class="breadcrumb-item active" aria-current="page">Organizations</li>
                                        {% endblock breadcrumb_li %}
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            {% endblock header %}

            {% block content %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow mb-4">
                                <div class="m-5">
                                    <h1>{{ organization }}</h1>
                                    <form action="." method="post">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <input type="submit" value="submit" class="genric-btn info">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}

            {% block footer %}
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span> &copy; OrgHub Inc {% now 'Y' %}</span>
                        </div>
                    </div>
                </footer>

            {% endblock footer %}
        </div>

    </div>
{% endblock container %}
{% block js %}
    <script src="{% static 'js1/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="{% static 'js1/bootstrap.min.js' %}"></script>
    <script src="{% static 'js1/sb-admin-2.js' %}"></script>
{% endblock js %}
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
