{% extends "organizations_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{{ organization }}</h1>
<form action="." method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="submit" class="genric-btn info">
</form>

{% endblock %}
