{% extends "organizations_base.html" %}
{% load i18n %}
{% block content %}
<h1>{{ organization }}</h1>
<h3>{% trans "Are you sure you want to delete this organization?" %}</h3>
<form action="." method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="genric-btn danger" value="Delete">
</form>
{% endblock %}
